.popup-container {
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 12px;
  width: 380px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.titulo {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.descricao {
  font-size: 12px;
  color: #ccc;
  margin-bottom: 1.5rem;
}

.input-data {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #333;
  background-color: #2a2a2a;
  color: #fff;
  margin-bottom: 1rem;
  font-size: 14px;
}

.horarios span {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
}

.botoes {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 10px;
}

.hora {
  background-color: #2e2e2e;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.hora.selecionado {
  border: 1px solid #f1c40f;
  background-color: #111;
}

.botao-agendar {
  width: 100%;
  padding: 12px;
  background-color: #f1c40f;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
}

.botao-agendar:hover {
  background-color: #d4ac0d;
}

/* Estilo customizado do calendário */
.custom-calendar {
  background-color: #1e1e1e;
  color: white;
  border: none;
  font-family: 'Poppins', sans-serif;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__current-month {
  color: white;
}

.react-datepicker__day--selected {
  background-color: #f1c40f;
  color: black;
}

.react-datepicker__header {
  background-color: #2e2e2e;
  border-bottom: 1px solid #444;
}
